.keyIndicators {
  padding: 0 100px;
  margin: 0 0 60px;
  width: 100%;
}

.title {
  margin: 0 0 30px;
  font-size: 20px;
  line-height: 27px;
  font-weight: 600;
  color: var(--grey-dark-color);
}

.navigate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 10px;
}

.tabs {
  .tab {
    margin: 0;
    padding: 10px 14px 10px 46px;
    border: 1px solid var(--grey-light-color);
    box-sizing: border-box;
    color: var(--grey-dark-color);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5%;
    font-weight: 600;
    background-repeat: no-repeat;
    background-position: left 16px center;
    background-size: 24px auto;
    background-clip: padding-box;
    background-color: var(--white-color);
    cursor: pointer;

    &.active {
      background-color: var(--red-color);
      color: var(--white-color);
    }

    &.team {
      border-radius: 12px 0 0 12px;
      background-image: url('./images/users-three24.png');

      &.active {
        background-image: url('./images/users-three-white24.png');
      }
    }

    &.skills {
      border-radius: 0 12px 12px 0;
      background-image: url('./images/pencil-ruler24.png');

      &.active {
        background-image: url('./images/pencil-ruler-white24.png');
      }
    }
  }
}

.link {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 0.5%;
  padding-right: 24px;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 20px auto;
  background-clip: padding-box;
  background-image: url('./images/link-icon.png');

  &:hover {
    text-decoration: underline;
  }
}
