.glossary {
  padding: 20px 0;

  .listItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 16px;
    justify-content: center;
  }

  .item {
    padding: 8px 0;
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
  }

  .marker {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid var(--grey-color);
    box-sizing: border-box;

    &.none {
      background-color: var(--none-level-color);
    }
    &.junior {
      background-color: var(--junior-level-color);
    }
    &.middle {
      background-color: var(--middle-level-color);
    }
    &.senior {
      background-color: var(--senior-level-color);
    }
    &.expert {
      background-color: var(--expert-level-color);
    }
  }
}

.tableHeader,
.tableSkillsRow {
  display: grid;
  grid-template-columns:
    [skills] minmax(160px, 220px)
    [users] 35px
    [level] minmax(200px, 2fr)
    [targetLevel] minmax(150px, 165px)
    [alert] 35px;
  align-items: stretch;
}

.tableHeader {
  background-color: var(--white-smoke-color);
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: var(--grey-dark-color);

  .tableCell {
    align-self: center;
    padding: 12px;
  }

  .users {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px auto;
    background-image: url('./images/users-three.png');
  }
}

.tableUserRow {
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  color: var(--grey-dark-color);
  border-bottom: 1px solid var(--grey-light-color);
}
