.glossary {
  padding: 20px 0 0 0;
  margin: 0 0 20px 0;
  display: flex;
  justify-content: space-between;

  .listItems {
    margin: 0;
    padding: 8px 0;
    list-style: none;
    display: flex;
    gap: 16px;
  }

  .item {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;

    margin: 0;
    padding: 0 0 0 24px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 16px 16px;
    background-clip: padding-box;

    &.none {
      background-image: url('./images/level-none.svg');
    }
    &.junior {
      background-image: url('./images/level-beginner.svg');
    }
    &.middle {
      background-image: url('./images/level-intermediate.svg');
    }
    &.senior {
      background-image: url('./images/level-advanced.svg');
    }
    &.expert {
      background-image: url('./images/level-expert.svg');
    }

    &.normal {
      background-image: url('./images/status-normal.svg');
    }
    &.low {
      background-image: url('./images/status-low.svg');
    }
    &.improving {
      background-image: url('./images/status-improving.svg');
    }
  }
}

.tableHeader,
.tableUserRow {
  display: grid;
  grid-template-columns:
    [user] minmax(160px, 220px)
    [role] minmax(120px, 130px)
    [grage] minmax(80px, 90px)
    [skills] minmax(200px, 2fr)
    [col5] minmax(150px, 165px)
    [col6] minmax(120px, 130px)
    [col7] 35px;
  align-items: stretch;
}

.tableHeader {
  background-color: var(--white-smoke-color);
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: var(--grey-dark-color);

  .tableCell {
    align-self: center;
    padding: 10px 12px;
  }
}

.tableUserRow {
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  color: var(--grey-dark-color);
  // border-bottom: 1px solid var(--grey-light-color);

  &:hover {
    background-color: var(--white-smoke-color);
  }
}
