.logo {
  display: block;
}

.logoImage {
  display: block;
  width: 160px;
  height: 37px;
  background-image: url('./images/logo-rosbank.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
