.activities {
  padding: 0 100px 100px 100px;
  width: 100%;
}

.intro {
  margin: 0 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.introContent {
  max-width: 600px;

  .title {
    margin: 0 0 12px;
    font-size: 20px;
    line-height: 27px;
    font-weight: 600;
    color: var(--grey-dark-color);
  }

  .description {
    font-size: 14px;
    line-height: 24px;
  }

  .link {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.introButton {
  width: 90px;
  padding-left: 24px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: var(--font-manrope);
  color: var(--red-color);
  cursor: pointer;
  letter-spacing: 0.005px;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 16px auto;
  background-clip: padding-box;
  background-image: url('./images/show-icon.svg');

  &.show {
    background-image: url('./images/hide-icon.svg');
  }

  &:hover {
    // background-color: transparent;
    text-decoration: underline;
  }
}

.cardWrapper {
  overflow: hidden;
  line-height: 0;
  transition: all 0.3s;

  &.open {
    line-height: 27px;
  }
}
