.headerMenuLink {
  margin: 0;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 16px;
  font-family: var(--font-manrope);
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  color: var(--black-color);
  cursor: pointer;
  transition: opacity 0.1s ease;
  background-color: transparent;
  border: none;

  &:hover {
    opacity: 0.7;
    text-decoration: none;
  }
}

.headerMenuChildrenItems {
  margin: 0;
  padding: 0;
}

.headerMenuChildrenLink {
  padding: 8px 12px;
}

.headerMenuDropdown {
  cursor: default;
}

.headerMenuLinkWrapper {
  margin: 0;
  padding: 0;
  position: relative;
}

.headerMenuLinksChildren {
  position: absolute;
  top: 38px;
  left: 10px;
  margin: 0;
  padding: 0;
  width: max-content;
  display: none;
  list-style: none;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background-color: var(--white-smoke-color);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  z-index: 5;

  &.open {
    display: flex;
  }
}
