.notification {
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  background-color: var(--white-smoke-color);
  width: 100%;
  position: relative;
  // opacity: 1;
  max-height: 1000px;
  transition: all 0.3s ease;

  &.close {
    // opacity: 0;
    max-height: 0;
    padding: 0 100px;
    overflow: hidden;

    // * {
    //   display: none;
    // }
  }
}

.message {
  padding: 8px 0 8px 30px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.005px;
  // font-weight: 600;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px auto;
  background-clip: padding-box;
  background-image: url('./images/info-icon.svg');
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  width: 240px;
}

.closeButton {
  position: absolute;
  background-image: url('./images/close-icon.svg');
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  right: 16px;
  top: 16px;
  transition: 0.3s;

  &:not(:disabled):hover {
    background-color: var(--grey-light-color);
  }

  &:not(:disabled):active {
    transform: translateY(1px);
  }
}
