.notification {
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  background-color: var(--white-smoke-color);
  width: 100%;
  position: relative;

  &.close {
    display: none;
    // transition: 0.3s;
  }
}

.message {
  background-image: url('./images/info-icon.svg');
  background-repeat: no-repeat;
  background-position: left 0 top 4px;
  padding: 0 0 0 44px;
}

.description {
  font-size: 16px;
  line-height: 32px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  width: 240px;
}

.closeButton {
  position: absolute;
  background-image: url('./images/close-icon.svg');
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  right: 16px;
  top: 16px;
  transition: 0.3s;

  &:not(:disabled):hover {
    background-color: var(--grey-light-color);
  }

  &:not(:disabled):active {
    transform: translateY(1px);
  }
}
