.tableCell {
  align-self: center;
  padding: 16px 12px;

  &.user {
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    color: var(--grey-dark-color);
  }

  &.expertise,
  &.progress {
    justify-self: center;

    .boxGreen {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 56px;
      height: 24px;
      border-radius: 4px;
      background-color: var(--green-light-color);
    }
    .boxRed {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 56px;
      height: 24px;
      border-radius: 4px;
      background-color: var(--red-light-color);
    }
  }

  &.action {
    justify-self: center;
    padding: 0;
  }
}

.trainingButton {
  line-height: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px auto;
  background-image: url('./images/training-icon.svg');
}
